doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='./css/buywithapplepay.css')
    script(src='./js/index.js')
    script(src='./js/support.js')
  body
    input(type="hidden" id="tokenId" value="#{tokenId}")
    .container
      .brandBar(class="brandBar-#{brandName}")
        img(class="top-logo-#{brandName}")
      div
        .module-section.border-edges-top.propertyInfo
          div(style='font-size: 2.5em;') #{hotelName}
          |             
          .grey-text(style='margin-left: 10px;') #{roomDescription}
        |         
        .module-section.cancellationInfoSection
          .cancellationInfo(class="cancellationInfo-#{brandName}") #{cancellationInfo}
        |         
        .travelDatesAndTripTotalSection
          .module-section.border-edges-bottom-left.travelDateSection
            .checkInOutLabels.grey-text
              .checkInLabel Check-in
              |                     
              .checkOutLabel Check-out
            |                 
            .checkInOutData
              .checkInDate #{checkInDate}
              |                     
              .checkOutDate #{checkOutDate}
          |             
          .module-section.border-edges-bottom-right.tripTotalSection
            .totalInfo(style='font-size: .8em;') Trip Total
            |                 
            .total(style='font-size: 2em;') #{totalPrice}
        |         
        |         
        .module-section.border-edges-all.travelerInfoSection()
          .brandIcon
            img(class="middle-logo-#{brandName}" alt='#{brandName}')
          .travelerInfo
            .travelerName(style='font-size:large') #{travelerName}
            |               
            .phoneNumber #{travelerPhone}
            |               
            .email #{travelerEmail}
        |         
        .termsAndConditions.grey-text
          | By completing this booking I agree that I have read and accept the 
          p.blueTerms Terms and Conditions
          |  and 
          p.blueTerms Privacy Policy.
      |     
      .chargeInfoAndButtonSection
        .payNowInfoSection
          div Total to pay now
          |             
          .totalPrice(style='font-size:large') #{totalPrice}
        |         
        .submitButton
          .apple-pay-button-with-text.apple-pay-button-white-with-text(onclick='applePayButtonClicked(getTokenId())')
            span.text Buy with
              |   
              span.logo
