doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    link(rel='stylesheet', href='./css/style.css')
  body
    .container
      .brandBar(class="brandBar-#{brandName}")
      |     
      div
        .thankYou Thanks #{travelerName}, your reservation is confirmed!
        |     &#x9;
        .textConfirm
          | We&apos;ve emailed your confirmation to 
          p.travelerPlaceHolder #{travelerEmail}
          | . Enjoy your stay!
        |         
        .confirmationNum Confirmation number: BOOKING_NUMBER
        |         
        .module-section.border-edges-top.propertyInfo
          div(style='font-size:large') #{hotelName}
          |             
          .grey-text 460 Lonesome Valley, Pigeon Forge, TN, 37862
          |             
          .grey-text #{roomDescription}
        |         
        .module-section.cancellationInfoSection
          .cancellationInfo(class="cancellationInfo-#{brandName}") #{cancellationInfo}
        |         
        .travelDatesAndTripTotalSection
          .module-section.border-edges-bottom-left.travelDateSection
            .checkInOutLabels.grey-text
              .checkInLabel Check-in
              |                     
              .checkOutLabel Check-out
            |                 
            .checkInOutData
              .checkInDate #{checkInDate}
              |                     
              .checkInDate #{checkOutDate}
          |             
          .module-section.border-edges-bottom-right.tripTotalSection
            .totalInfo Trip Total
            |                 
            .total(style='font-size:large') #{totalPrice}
