doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    link(rel='stylesheet', href='./css/style.css')
  body
    .container
      .brandBar(class="brandBar-#{brandName}")
        img(class="top-logo-#{brandName}")
      div
        .thankYou(style='font-size: 1.2em; font-weight: bold;') Thanks #{travelerName}, your reservation is confirmed!
        |     &#x9;
        .textConfirm
          | We&apos;ve emailed your confirmation to 
          p.travelerPlaceHolder #{travelerEmail}
          | . Enjoy your stay!
        |         
        .confirmationNum(style='font-weight: bold;') Confirmation number: 11467014081
        |         
        .module-section.border-edges-top.propertyInfo
          div(style='font-size: 2.5em;') #{hotelName}
          |             
          .grey-text(style='margin-left: 10px;') 460 Lonesome Valley, Pigeon Forge, TN, 37862
          |             
          .grey-text(style='margin-left: 10px;') #{roomDescription}
        |         
        .module-section.cancellationInfoSection
          .cancellationInfo(class="cancellationInfo-#{brandName}") #{cancellationInfo}
        |         
        .travelDatesAndTripTotalSection
          .module-section.border-edges-bottom-left.travelDateSection
            .checkInOutLabels.grey-text
              .checkInLabel Check-in
              |                     
              .checkOutLabel Check-out
            |                 
            .checkInOutData
              .checkInDate #{checkInDate}
              |                     
              .checkInDate #{checkOutDate}
          |             
          .module-section.border-edges-bottom-right.tripTotalSection
            .totalInfo(style='font-size: .8em;') Trip Total
            |                 
            .total(style='font-size: 1.9em;') #{totalPrice}
